---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
  {%- if not page.url | startsWith("/assets/") and page.data.eleventyExcludeFromCollections != true %}
  <url>
    <loc>{{ meta.url }}{{ page.url }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    {%- if page.url == "/" %}
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
    {%- elif page.url | startsWith("/games/") %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
    {%- elif page.url | startsWith("/blog/") %}
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
    {%- else %}
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
    {%- endif %}
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
